body{
    /* font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5; */

    /*Short form of above three lines*/
    font:15px/1.5 Arial, Helvetica, sans-serif;

    padding:0;
    margin:0;

    background-color: #f4f4f4;
}

/*Global*/
.container{
    width:80%;
    margin: auto;
    overflow: hidden;
}

ul{
    padding: 0;
    margin: 0;
}

.serv-img{
    min-height: 90px;
}

.button{
    height:38px;
    background-color: #e8491d;
    color: #fff;
    border: none;
    padding: 0 20px;
}

.dark{
    background:#354248;
    color: #fff;
    margin:20px 0;
    padding:15px;
}

/*Header*/
header{
    background:#35424a;
    color:#fff;

    padding-top:30px;
    min-height: 70px;

    border-bottom: #e8491d 1px solid;
}

header a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px;
}

header #branding{
    float: left;
}
header h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover{
    color:#cccccc;
    font-weight: bold;
}

/*Form*/
aside#sidebar #my-form{
    padding:20 0px;
}
aside#sidebar #my-form .form-group{
    padding-bottom: 15px;
}
aside#sidebar #my-form .form-group label{
    display:block;
}
aside#sidebar #my-form .form-group input[type="text"]{
    padding:5px;
    width:90%;
}

aside#sidebar #my-form .form-group input[type="email"]{
    padding:5px;
    width:90%;
}

aside#sidebar #my-form .form-group textarea{
    padding:5px;
    width:90%;
}

/* Services */
ul#services li{
    list-style: none;
    padding:20px;
    border: #cccccc 1px solid;
    background: #e6e6e6;
    margin-bottom: 5px;
}



/*Shocase*/
#showcase{
    min-height: 400px;
    background: url('../img/slider.jpg') no-repeat 0px -250px;
    text-align: center;
    color: #fff;
}

#showcase h1{
    margin-top: 100px;
    font-size:55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size:20px;
}

/*NewsLetter*/
#newsletter{
    background:#35424a;
    color:#fff;
    padding: 15px;
}

#newsletter h1{
    float: left;
}
#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding:4px;
    height:25px;
    width:250px;

}


/*Boxes*/

#boxes{
    margin-top:20px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding:10px;
    background: #fff;
    margin: 5px;
    min-height: 315px;
}

#boxes .box img{
    width:90px;
}

/*Sidebar*/

aside#sidebar{
    float: right;
    width: 30%;
    margin-top:10px;
}

article#main-col{
    float: left;
    width: 65%;
}

/*Footer*/
footer{
    text-align: center;
    background: #e8491d;
    color:#fff;
    margin-top:20px;
    padding: 20px;
}



/*Responsive*/

@media(max-width:768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
        float: none;
        text-align: center;
        width:100%;
    }
    header{
        padding:20px;
    }

    #showcase h1{
        margin-top: 40px;
    }
    #newsletter input[type="email"] {
        margin-bottom: 5px;
        /* display:block;
        align-items: center; */
    }
   
    .serv-img{
        min-height: 0PX;
    }
    
}
